.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 8px; /* Reduced padding */
    margin: 8px; /* Reduced margin */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 250px; /* Reduced width */
    height: 250px; /* Reduced height */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
}

.card h3, .card p {
    margin: 1px 0; /* Reduce margin between items */
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.header {
    text-align: center;
}

/* styles.css */

.button {
    background-color: #4CAF50; /* Green background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 15px 32px; /* Some padding */
    text-align: center; /* Centered text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Make the button inline */
    font-size: 16px; /* Increase font size */
    margin: 4px 2px; /* Some margin */
    cursor: pointer; /* Pointer/hand icon on hover */
    border-radius: 12px; /* Rounded corners */
    transition: background-color 0.3s; /* Smooth transition */
}

.button:hover {
    background-color: #45a049; /* Darker green on hover */
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
